:root{
    /*Produto*/
    --brand-color-light: #60a5fa;
    --brand-color-dark: #1d4ed8;

    /*Base*/
    --bg-color: #0f172a;
    --stroke-color: #1e293b;

    /*Textos*/
    --text-color-primary: #f1f5ff;
    --text-color-secundary: #cbd5e1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo";
    font-size: 10px;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color-primary);
}

/*Definição dos textos*/
h1{
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 135%;
}
h2{
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 140%;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 140%;
}
span{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 145%;
    color: var(--text-color-secundary);
}
p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--text-color-secundary);
}

/*Classes básicas*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    max-width: 1280px;
    width: 100vw;
    padding-left: 32px;
    padding-right: 32px;
}

/*Header*/
header{
    flex-direction: column;
}
.navbar-primary{
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-primary ul{
    list-style: none;
    justify-content: space-between;
}
.navbar-primary h1{
    color: var(--brand-color-light);
}
.navbar-primary ul li label{
    gap: 10px;
    width: 100px;
    cursor: pointer;
}
#search:checked ~ .search{
    display: flex;
}
.search{
    display: none;
    position: absolute;
    right: calc(50% - 150px);
    top: 18px;
    width: 300px;
}
.search input{
    width: 100%;
    outline: 0;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--brand-color-light);
    color: var(--text-color-primary);
    box-shadow: 2px 2px 10px #000;
}
hr{
    width: 100vw;
    border: none;
    border-bottom: 1px solid var(--stroke-color);
}
.navbar-secundary{
    overflow: scroll;
    padding-top: 14px;
    padding-bottom: 14px;
    
}
.navbar-secundary::-webkit-scrollbar{
    display: none;
}
.slider{
    justify-content: space-between;
    min-width: 700px;
    width: 100%;
}
/*Section 1*/
.section1{
    margin: 4rem 0;
}
.section1,
.card-container,
.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}
.card-container{
    flex-direction: column;
}
.card{
    position: relative;
}
/*Responsividade*/
@media (max-width: 650px){
    *{
        font-size: 9px;
    }
    .content{
        padding-left: 14px;
        padding-right: 14px;
    }
    .cell{
        display: none;
    }
    .navbar-primary ul li label{
        width: auto;
    }
}